
                                <!DOCTYPE html>
                <html lang="pt-br">
                <title> ANALISE </title>
                <head>
                    <meta charset="utf-8" />
                    <meta name="viewport" content="width=device-width" />
                    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                        crossorigin="anonymous"></script>
                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
                    <link rel="stylesheet" href="static/style.css">
                    <link rel="stylesheet" href="static/styleNavbar.css">
                </head>
                <header>
                    <br>
                    <h3 style="color:white; text-align: center;"> ANALISE FUNDAMENTALISTA BASEADA EM INTELIGENCIA ARTIFICIAL</h3>

                </header>
                <body>
                    <div id="includedContent"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                            <h5>Historico</h5>
                            <br>
                            <input type="button" value="Voltar" onClick="history.go(-1)"><b>                                
                            </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            <span class="badge badge-default">Label</span>
                            <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: center;">
      <th>Date</th>
      <th>High</th>
      <th>Low</th>
      <th>Open</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Adj Close</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2021-03-01</td>
      <td>10.15</td>
      <td>9.62</td>
      <td>10.10</td>
      <td>9.62</td>
      <td>41486600.0</td>
      <td>9.59</td>
    </tr>
    <tr>
      <td>2021-03-02</td>
      <td>9.98</td>
      <td>9.32</td>
      <td>9.50</td>
      <td>9.90</td>
      <td>47103800.0</td>
      <td>9.87</td>
    </tr>
    <tr>
      <td>2021-03-03</td>
      <td>10.08</td>
      <td>9.59</td>
      <td>9.85</td>
      <td>9.99</td>
      <td>55470400.0</td>
      <td>9.96</td>
    </tr>
    <tr>
      <td>2021-03-04</td>
      <td>10.43</td>
      <td>9.98</td>
      <td>10.00</td>
      <td>10.21</td>
      <td>58054700.0</td>
      <td>10.18</td>
    </tr>
    <tr>
      <td>2021-03-05</td>
      <td>10.49</td>
      <td>10.20</td>
      <td>10.30</td>
      <td>10.37</td>
      <td>33296800.0</td>
      <td>10.33</td>
    </tr>
    <tr>
      <td>2021-03-08</td>
      <td>10.40</td>
      <td>9.93</td>
      <td>10.17</td>
      <td>9.96</td>
      <td>38257900.0</td>
      <td>9.93</td>
    </tr>
    <tr>
      <td>2021-03-09</td>
      <td>10.22</td>
      <td>9.85</td>
      <td>10.04</td>
      <td>10.05</td>
      <td>28985800.0</td>
      <td>10.02</td>
    </tr>
    <tr>
      <td>2021-03-10</td>
      <td>10.31</td>
      <td>9.93</td>
      <td>10.07</td>
      <td>10.31</td>
      <td>41919600.0</td>
      <td>10.29</td>
    </tr>
    <tr>
      <td>2021-03-11</td>
      <td>10.45</td>
      <td>10.11</td>
      <td>10.37</td>
      <td>10.28</td>
      <td>28645800.0</td>
      <td>10.26</td>
    </tr>
    <tr>
      <td>2021-03-12</td>
      <td>10.28</td>
      <td>10.12</td>
      <td>10.16</td>
      <td>10.20</td>
      <td>18526700.0</td>
      <td>10.18</td>
    </tr>
    <tr>
      <td>2021-03-15</td>
      <td>10.29</td>
      <td>10.10</td>
      <td>10.14</td>
      <td>10.23</td>
      <td>18875000.0</td>
      <td>10.21</td>
    </tr>
    <tr>
      <td>2021-03-16</td>
      <td>10.27</td>
      <td>10.00</td>
      <td>10.20</td>
      <td>10.08</td>
      <td>19521200.0</td>
      <td>10.06</td>
    </tr>
    <tr>
      <td>2021-03-17</td>
      <td>10.38</td>
      <td>9.99</td>
      <td>10.04</td>
      <td>10.37</td>
      <td>26481500.0</td>
      <td>10.35</td>
    </tr>
    <tr>
      <td>2021-03-18</td>
      <td>10.60</td>
      <td>10.32</td>
      <td>10.32</td>
      <td>10.47</td>
      <td>33600000.0</td>
      <td>10.45</td>
    </tr>
    <tr>
      <td>2021-03-19</td>
      <td>10.58</td>
      <td>10.32</td>
      <td>10.54</td>
      <td>10.44</td>
      <td>46392500.0</td>
      <td>10.42</td>
    </tr>
    <tr>
      <td>2021-03-22</td>
      <td>10.55</td>
      <td>10.23</td>
      <td>10.36</td>
      <td>10.52</td>
      <td>30201900.0</td>
      <td>10.50</td>
    </tr>
    <tr>
      <td>2021-03-23</td>
      <td>10.54</td>
      <td>10.26</td>
      <td>10.41</td>
      <td>10.26</td>
      <td>21427000.0</td>
      <td>10.24</td>
    </tr>
    <tr>
      <td>2021-03-24</td>
      <td>10.31</td>
      <td>10.03</td>
      <td>10.30</td>
      <td>10.05</td>
      <td>23813600.0</td>
      <td>10.03</td>
    </tr>
    <tr>
      <td>2021-03-25</td>
      <td>10.26</td>
      <td>9.97</td>
      <td>10.02</td>
      <td>10.26</td>
      <td>24832600.0</td>
      <td>10.24</td>
    </tr>
    <tr>
      <td>2021-03-26</td>
      <td>10.38</td>
      <td>10.17</td>
      <td>10.18</td>
      <td>10.36</td>
      <td>21252500.0</td>
      <td>10.36</td>
    </tr>
    <tr>
      <td>2021-03-29</td>
      <td>10.39</td>
      <td>10.17</td>
      <td>10.28</td>
      <td>10.32</td>
      <td>18395500.0</td>
      <td>10.32</td>
    </tr>
    <tr>
      <td>2021-03-30</td>
      <td>10.47</td>
      <td>10.27</td>
      <td>10.27</td>
      <td>10.47</td>
      <td>22484400.0</td>
      <td>10.47</td>
    </tr>
    <tr>
      <td>2021-03-31</td>
      <td>10.42</td>
      <td>10.17</td>
      <td>10.39</td>
      <td>10.32</td>
      <td>30421000.0</td>
      <td>10.32</td>
    </tr>
    <tr>
      <td>2021-04-01</td>
      <td>10.34</td>
      <td>10.07</td>
      <td>10.34</td>
      <td>10.10</td>
      <td>21625700.0</td>
      <td>10.10</td>
    </tr>
    <tr>
      <td>2021-04-05</td>
      <td>10.24</td>
      <td>10.10</td>
      <td>10.18</td>
      <td>10.23</td>
      <td>18608700.0</td>
      <td>10.23</td>
    </tr>
    <tr>
      <td>2021-04-06</td>
      <td>10.28</td>
      <td>10.11</td>
      <td>10.21</td>
      <td>10.13</td>
      <td>18463300.0</td>
      <td>10.13</td>
    </tr>
  </tbody>
</table> 
                            </div>
                            <div class="col-md-6">
                            <span class="badge badge-default">Label</span>
                            <img src="static/img/Grafico.png" alt="Girl in a jacket" width="500" height="600">
                            </div>
                        </div>
                    </div>
                </body>
                </html>
                