{% extends "base.html" %}

<title>HOME</title>

{% block content %}

<body>

    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
      </ul>
      
    <h3>Realizar Consulta</h3>
    </b>
    <form method="POST">
        {% csrf_token %}
        {{form}}   
        <input type = "submit" value = "Pesquisar">
    </form>
</body>

{% endblock content %}